html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Roboto Condensed', Arial, sans-serif;
}

body {
    width: 320px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.5rem;
}

.icon { font-size: 1.75rem; }
.icon-ok { color: green; }
.icon-ko { color: red; }
.icon-meh { color: orange; }

table {
    width: 100%;
}

caption {
    display: block;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

tr {
    margin-bottom: 25px;
}

th {
    border: 1px solid #ccc;
    padding: 7px 8px;
    text-align: center;
}

/* each cell as a row... */
td {
    position: relative;
    padding: 6px 8px;
    padding-left: 50%;
    border: 1px solid #ccc;
    border-top-width: 0;
    text-align: center;
}

/* ... which can get a content stuck to the left like a label... */
td:before {
    position: absolute;
    top: 6px;
    left: 0;
    width: 50%;
    white-space: nowrap;
}

/* ... which is pulled from the data-attr ! */
td:nth-of-type(1):before,
td:nth-of-type(2):before,
td:nth-of-type(3):before,
td:nth-of-type(4):before,
td:nth-of-type(5):before,
td:nth-of-type(6):before,
td:nth-of-type(7):before,
td:nth-of-type(8):before,
td:nth-of-type(9):before,
td:nth-of-type(10):before {
    content: attr(data-title);
}

/* no more tables : block everywhere !!! */
table, thead, tbody, th, td, tr {
    display: block;
}

/* headings out of the layout */
thead tr,
tfoot tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

tbody th {
    background-color: #ccc;
}



@media (min-width: 480px) {
    body {
        width: 80%;
    }
}

@media (min-width: 768px)  {

}

@media (min-width: 992px)  {
    tr {
        display: table-row;
        margin-bottom: 0;
    }

    td {
        display: table-cell;
        position: static;
        padding-left: 8px;
    }

    td:before {
        display: none;
    }

    table {
        display: table;
        border-collapse: collapse;
    }

    caption { display: table-caption; }

    thead { display: table-header-group; }

    tbody { display: table-row-group; }

    th { display: table-cell; }

    tbody th {
        background-color: transparent;
    }

    thead th:nth-of-type(even),
    tbody td:nth-of-type(odd) {
        background-color: #eee;
    }

    thead tr,
    tfoot tr {
        position: static;
    }

}

.sprite { background: url('sprite.png') no-repeat top left; width: 89px;  }
.sprite._0000_react-native { background-position: 0 0; width: 356px; height: 162px; }
.sprite._0001_nativescript { background-position: 0 -172px; width: 218px; height: 274px; }
.sprite._0002_doc { background-position: 0 -456px; height: 186px; }
.sprite._0003_ekino { background-position: 0 -652px; width: 323px; height: 90px; }
.sprite._0004_ { background-position: 0 -752px; height: 135px; }
.sprite._0005_license { background-position: 0 -897px; width: 213px; height: 213px; }
.sprite._0006_angular { background-position: 0 -1120px; width: 209px; height: 223px; }
.sprite._0007_react { background-position: 0 -1353px; width: 217px; height: 193px; }
.sprite._0008_touchstone { background-position: 0 -1556px; width: 214px; height: 258px; }
.sprite._0009_famous { background-position: 0 -1824px; width: 181px; height: 241px; }
.sprite._0010_onsenui { background-position: 0 -2075px; width: 186px; height: 224px; }
.sprite._0011_javascript { background-position: 0 -2309px; width: 168px; height: 168px; }
.sprite._0012_ionic { background-position: 0 -2487px; width: 158px; height: 157px; }
.sprite._0013_supersonic { background-position: 0 -2654px; width: 293px; height: 248px; }
.sprite._0014_apple { background-position: 0 -2912px; width: 220px; height: 256px; }
.sprite._0015_windows { background-position: 0 -3178px; width: 231px; height: 230px; }
.sprite._0016_android { background-position: 0 -3418px; width: 225px; height: 267px; }
.sprite._0017_cordova { background-position: 0 -3695px; width: 275px; height: 249px; }
.sprite._0018_appcelerator { background-position: 0 -3954px; width: 276px; height: 253px; }