html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Roboto Condensed', Arial, sans-serif;
}

body {
    width: 320px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.5rem;
}

.icon { font-size: 1.75rem; }
.icon-ok { color: green; }
.icon-ko { color: red; }
.icon-meh { color: orange; }

table {
    width: 100%;
}

caption {
    display: block;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

tr {
    margin-bottom: 25px;
}

th {
    border: 1px solid #ccc;
    padding: 7px 8px;
    text-align: center;
}

/* each cell as a row... */
td {
    position: relative;
    padding: 6px 8px;
    padding-left: 50%;
    border: 1px solid #ccc;
    border-top-width: 0;
    text-align: center;
}

/* ... which can get a content stuck to the left like a label... */
td:before {
    position: absolute;
    top: 6px;
    left: 0;
    width: 50%;
    white-space: nowrap;
}

/* ... which is pulled from the data-attr ! */
td:nth-of-type(1):before,
td:nth-of-type(2):before,
td:nth-of-type(3):before,
td:nth-of-type(4):before,
td:nth-of-type(5):before,
td:nth-of-type(6):before,
td:nth-of-type(7):before,
td:nth-of-type(8):before,
td:nth-of-type(9):before,
td:nth-of-type(10):before {
    content: attr(data-title);
}

/* no more tables : block everywhere !!! */
table, thead, tbody, th, td, tr {
    display: block;
}

/* headings out of the layout */
thead tr,
tfoot tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

tbody th {
    background-color: #ccc;
}



@media (min-width: 480px) {
    body {
        width: 80%;
    }
}

@media (min-width: 768px)  {

}

@media (min-width: 992px)  {
    tr {
        display: table-row;
        margin-bottom: 0;
    }

    td {
        display: table-cell;
        position: static;
        padding-left: 8px;
    }

    td:before {
        display: none;
    }

    table {
        display: table;
        border-collapse: collapse;
    }

    caption { display: table-caption; }

    thead { display: table-header-group; }

    tbody { display: table-row-group; }

    th { display: table-cell; }

    tbody th {
        background-color: transparent;
    }

    thead th:nth-of-type(even),
    tbody td:nth-of-type(odd) {
        background-color: #eee;
    }

    thead tr,
    tfoot tr {
        position: static;
    }

}

.heading { background-size: cover; width: 89px; text-indent: -1000em; }
.heading.apple { background-image: url(img/apple.png); width: 220px; height: 256px; }
.heading.android { background-image: url(img/android.png); width: 225px; height: 267px; }
.heading.windows { background-image: url(img/windows.png); width: 231px; height: 230px; }
.heading.cordova { background-image: url(img/cordova.png); width: 275px; height: 249px; }
.heading.angular { background-image: url(img/angular.png); width: 209px; height: 223px; }
.heading.react { background-image: url(img/react.png); width: 217px; height: 193px; }
.heading.documentation { background-image: url(img/documentation.png); height: 186px; }
.heading.price { background-image: url(img/price.png); height: 135px; }
.heading.license { background-image: url(img/license.png); width: 213px; height: 213px; }
.heading.ekino { background-image: url(img/ekino.png); width: 323px; height: 90px; }
.heading.javascript { background-image: url(img/javascript.png); width: 168px; height: 168px; }
.heading.ionic { background-image: url(img/ionic.png); width: 158px; height: 157px; }
.heading.nativescript { background-image: url(img/nativescript.png); width: 218px; height: 274px; }
.heading.react-native { background-image: url(img/react-native.png); width: 356px; height: 162px; }
.heading.appcelerator { background-image: url(img/appcelerator.png); width: 276px; height: 253px; }
.heading.onsenui { background-image: url(img/onsenui.png); width: 186px; height: 224px; }
.heading.famous { background-image: url(img/famous.png); width: 181px; height: 241px; }
.heading.touchstone { background-image: url(img/touchstone.png); width: 214px; height: 258px; }
.heading.supersonic { background-image: url(img/supersonic.png); width: 293px; height: 248px; }